/* การเลื่อนจะค่อยๆนิ่มๆ */
html{
    scroll-behavior: smooth;
}
/* ทําให้ขอบของเว็บไม่มีสีขาว */
body{
    margin: 0;
    }
/* แสดงอนิเมชั่นตอนเลื่อนลงมาตรงกับ class */
.animate-on-scroll{
    opacity: 0;
}
.animate-on-scroll.show {
    opacity: 1;
    animation: Up 2s;
}

/* ชื่อเว็บไซต์ */
#namewebsite{
    padding-right: 1100px;
    font-size: 25px;
    font-family: THsaraban2;
    cursor: default;
    animation: Down 2s;
}


/* แท็บบาร์สําหรับกด */
.bar ul{
    position: fixed;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    z-index: 1;
    margin: 0;
    padding: 0;
    height: 75px;
    width: 100%;
}
.bar li{
    padding-right: 20px;
}
.bar a{
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: THsaraban2;
}

/* เวลากดจะมีขีดด้านล่างมาพร้อมกัน */
.bar a::after{
    content: '';
    position: absolute;
    top: 25px;
    height: 4px;
    border-radius: 20px;
    left: 0;
    width: 0;
    background-color: #f472b6;
}
.bar a:hover{
    color: #f472b6;
    
}
.bar a:hover::after{
    animation: inline 1s forwards  ;
}
/* ดีเลย์แท็บกด */
#sp{animation: Down 2s;}
#so{animation: Down 3s;}
#si{animation: Down 4s;}
#su{animation: Down 5s;}

/* ให้พื้นหลังคลุมเฉพาะหน้าแรก */
/* #Home{
    background: radial-gradient(125% 125% at 50% 90%, #ffffff 40%, #6366f1 100%);
} */
.background{
    background: linear-gradient(to bottom,
    #7476f4b8 0%,#8284f461 20%,
    #a5b4fc47 40%, #9092f43f 60%,
    #8284f461 80%, #7476f4b8 100%);
}
/* ข้อความส่วนตรงกลางหน้าจอ */
.texthomepag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
    
    padding-top: 100px;
    padding-bottom: 150px;
    height: 500px;
    padding-left: 100px;
}
.texthomepag header{
    font-size: 50px;
    font-family: THsaraban1;
    
}
.texthomepag pre{
    font-size: 20px;
    font-family: THsaraban3;
/* รูปหน้าแรก */
}
#imgbox5{
    width: 350px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    top: 150px; 
    right: 50px;
}
#imgbox5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/* ส่วนของ about */
#About{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    font-size: 50px;
    font-family: Thsaraban1;
    padding-top: 60px;
    text-align: center;
}
.con {                                          
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
/* ปุ่มกดใต้ข้อความ */
.con img{
    width: 70px;
    height: 70px;
    padding-right: 20px;
    border: 0;
}
/* รูปซ้ายมือพร้อมสลับภาพไปมา */
#img{
    display: block;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    background:url(img/imgbox1.jpg) center/cover;
    transition: opacity 1s ease, filter 1s ease;

}
#img.fade {
    opacity: 0;
    filter: blur(10px);
}
/* กล่องข้อความด้านขวา */
#box1{
    width: 700px;
    height: 300px;
    border-radius: 25px;
    background-color:#9ea0f479;
}
#box1 header{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: THsaraban2;
    font-size: 30px;
    
}
#box1 pre{
    padding-left: 20px;
    font-size: 20px;
    font-family: THsaraban3;
}
/* ส่วนของ Activity */
#Activity{
    width: 100%;
    height: 100vh;
}
.wrapper {
    width: 100%;         
    height: 250px;
    overflow: hidden;
    position: relative;
}
/* เคลื่อนจากขวาไปซ้าย */
.sliderleft {
    display: flex;
    width: max-content;
    animation: slideleft 80s linear infinite;
}

.sliderleft img {
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
}
/* เคลื่อนจากซ้ายไปขวา */
.sliderright {
    padding-top: 20px;
    display: flex;
    width: max-content;
    animation: slideright 80s linear infinite;
}

.sliderright img {
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
}

/* ส่วนของ code */
#Code{
    width: 100%;
    height: 100vh;
}
.con2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#box2{
    width: 650px;
    height: 425px;
    border-radius: 20px;
    background-color: #9ea0f4;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#box2 header{
    padding-top: 20px;
    text-align: center;

    font-size: 20px;
    font-family: THsaraban2;
}
#box2 main{
    text-align: center;
    padding-top: 20px;
}
/* คิวอาร์โค้ด */
#img1{
    width: 200px;
    height: 200px;
    padding-left: 200px;
    padding-right: 200px;
    background-size: cover;
}
/* รูป github */
#img2{
    width: 200px;
    height: 100px;
    padding-top: 10px;
    background-size: cover;
}

/* ส่วนของ Font */
@font-face {
    /* ฟอนต์ไทยแบบหนาสําหรับหัวข้อ */
    font-family: THsaraban1;
    src: url(font/Sarabun-Medium.woff);
}
@font-face {
    /* ฟอนต์สําหรับกรณีพิเศษใกล้เคียงหัวข้อ */
    font-family: THsaraban2;
    src: url(font/Sarabun-Light.woff);
}
@font-face {
    /* ฟอนต์สําหรับข้อความธรรมดา */
    font-family: THsaraban3;
    src: url(font/Sarabun-ExtraLight.woff);
}
@font-face {
    /* ฟอนต์ภาษาอังกฤษโดยเฉพาะ */
    font-family: ENGsaraban;
    src: url(font/Inter-VariableFont_opsz\,wght.woff);
}


/* ส่วนของอนิเมชั่น */
@keyframes inline{
    0%{width: 0;}
    100%{width: 100%;}
}
@keyframes Up{
    0%{
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        filter: blur(5px);
    }
    100%{
        transform: translateY(0);
        transform: translateY(0);
        filter: blur(0);
    }
}
@keyframes Down{
    0%{
        transform: translateY(-100px);
        transform: translateY(-100px);
        filter: blur(5px);
    }
    100%{
        transform: translateY(0);
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes slideleft {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes slideright {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}